<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voting App</title>
    <base href="/"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>

  </head>
  <body ng-app="voting" ng-controller="mainCtrl as main"ng-cloak>

    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" ng-controller="navCtrl as nav">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%if (user) { %>
              <a class="navbar-brand" href="/" ng-click="nav.logoClick($event)">Voting App </a><a class="navbar-brand username" href="/user/<%= user %>"> | <span class="name"><%= user %></span></a>
            <% } else { %>
              <a class="navbar-brand" href="/" ng-click="nav.logoClick($event)">Voting App</a>
            <% } %>

          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <%if (user) { %>
              <ul class="nav navbar-nav navbar-right">
                <li ng-click="nav.makeActive($event)"><a href="/">Home</a></li>
                <li ng-click="nav.makeActive($event)"><a href="/new">Create A Poll</a></li>
                <li ng-click="nav.makeActive($event)"><a href="/user/<%= user %>">My Polls</a></li>
                <li ng-click="nav.logOut()"><a href="/">Logout</a></li>
              </ul>
            <% } else { %>
              <ul ng-show="!nav.user" class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li ng-click="nav.toggleUser()"><a href="/auth/twitter" target="_self">Sign In With Twitter</a></li>
              </ul>
            <% } %>


          </div>
        </div>
      </nav>
      <!-- <h1>{{main.title}}</h1> -->
      <div ui-view></div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.5/highcharts.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/services/polls.js"></script>
    <script src="javascripts/controllers/main.js"></script>
    <script src="javascripts/controllers/nav.js"></script>
    <script src="javascripts/controllers/voting-form.js"></script>
    <script src="javascripts/controllers/poll.js"></script>


  </body>
</html>
