
<div class="">
  <h1 ng-bind="poll.title"></h1><span>By {{poll.user}}</span>
</div>
<div ng-repeat="option in poll.options" class="row">
  <div class="col-xs-4">
    <h3>{{option.name}}: {{option.totalVotes}}</h3>
    <button type="button" ng-click="increment(option)" class="btn btn-info" >+</button>
  </div>
</div>
<div ng-show="isAuthenticated && !hasVoted">
  <h1>Wanna vote for something else?</h1>
  <input type="text" placeholder="Enter Option" ng-model="another">
  <button type="button" class="btn btn-primary" ng-click="addAnotherOption(another)">Add Option</button>
</div>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text={{poll.title}}&url=http://127.0.0.1:3000/poll/{{poll._id}}">
Tweet</a>
<highchart id="chart1" config="chartConfig"></highchart>
